@model IntroModel
<section id="intro">

	<div class="intro-overlay"></div>

	<div class="intro-content">
		<div class="row">

			<div class="col-twelve">

				<h5>Hello, World!</h5>
				<h1>@Model.About.Data.NameSurname</h1>

				<p class="intro-position">
					<span>@Model.About.Data.Job</span>
				</p>


			</div>

		</div>
	</div> <!-- /intro-content -->

	<ul class="intro-social">
		@foreach (var item in Model.Social.Data)
		{
			<li><a target="_blank" href="@item.Url"><i><img style="max-width: 40px;" src="~/images/@item.Image" /></i></a></li>
		}
		
	</ul> <!-- /intro-social -->

</section>